ul{list-style:none;width:500pxmargin:0;padding:0;}
ul li{border:1px solid #ccc;background:#fff;margin-bottom:4px;padding:5px 10px;color:#333}
ul li:after{content:"";display: block;clear:both;}
.checked{text-decoration: line-through;color:#fd4323;font-weight: bold;}
.del_btns{float:right;font-size:14px;color:#007cff;background-color:transparent;border:1px solid #007cff;cursor:pointer}
.del_btns.btns_off{display: none;}